*{   -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

header a.icon,
header .hamburger {
    width: 80%;
}
.top-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.mid-animate {
    opacity: 0;
}
.bottom-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-225deg);
}
.top-menu {
    top: 5px;
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.mid-menu {
    top: 15px;
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.bottom-menu {
    top: 24px;
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.menui {
    background: #fff;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 10px;
    position: absolute;
}
.innerpage .menui {
    background: #000;
}


header .icon {
    z-index: 9999;
    position: fixed;
    /* background: rgba(0, 0, 0, 0.21); */
    display: none;
    padding: 9px;
    height: 32px;
    width: 32px;
    margin: 0px;
    top: 20px;
    left: 10px;
}

.mobilenav {
    /*    top: 47px !important;*/
    font-family: inherit;
    top: 0;
    left:0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.mobilenav::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #fff;
    width: 85%;
}
.mobilenav li {
    list-style-type: none;
    text-align: left;
    padding: 10px 20px;
}
.mobilenav li a {
    font-size: 150%;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    width: 100%;
    font-size: 20px;
}
.mobilenav .navbar-nav {
    padding-top: 50px;
}
.mobilenav .social-media {
    left: 30px;
    position: absolute;
    width: 100%;
    bottom: 40px;
}
.mobilenav .social-media ul li {
    padding: 10px 5px;
}
.mobilenav .social-media ul a {
    color: #000;
}
header .navbar.mobilenav ul > li.nav-item {
    margin: 5px 10px;
}
header .navbar.mobilenav ul > li.nav-item > a {
    font-size: 16px;
    padding: 0;
}
header .navbar.mobilenav  li a.language-switcher {
    font-size: 10px;
    width: 50px;
    padding: 10px 8px;
}
header .navbar.mobilenav .navbar .dropdown-menu {
    position: relative;
    text-align: center;
}

.menui.top-animate,
.menui.mid-animate,
.menui.bottom-animate {
    background: #000 !important;
    right: 0;
}

@media (max-width: 1199px) {
    header .icon  {
        display: block;
    }
    header nav.navbar-expand-lg {
        display: none;
    }
}